@import 'vars'
@import 'layout'
@import 'panels'
@import 'tooltip'
@import 'modal'

a, button
  outline none

.language-javascript
  background-color transparent !important
  border none !important
  box-shadow none !important

#code-store, #code-import
  position absolute
  text-indent -1000%
  font-size 0
  color transparent
