#modal
  visibility hidden
  pointer-events none
  background rgba(0, 0, 0, 0.75)
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  display flex
  justify-content center

  button
    z-index 2
    border 1px solid silver
    background-color white
    border-radius 50%
    font-size 35px
    font-family monospace
    font-weight bold
    width 50px
    height 50px
    position absolute
    top 5px
    right 5px
    cursor pointer
    &:hover
      color white
      background-color black

#iframe
  width 768px
  height 100%
  background-color white
  @media (max-width tablet)
    width 100%

.show-modal #modal
  visibility visible
  pointer-events all
