.panel
  background-color #3C4166
  border-radius border-radius
  overflow hidden
  display block
  break-inside avoid
  width 100%
  margin-bottom padding
  @media (max-width laptop)
    margin-bottom (padding/2)
  h1
    font-size 1.2em
    border-radius border-radius
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    padding padding
    @media (max-width laptop)
      padding (padding/2)
      font-size 1.1em
    small
      float right
  ul
    padding 0 0 (padding/2)
    a
      text-decoration none
      padding padding
      color white
      display block
      &:hover, &:focus
        background-color #53587D

      @media (max-width laptop)
        padding (padding / 2)
  pre
    padding padding
    font-size 0.9em
    font-family inherit

.panel li
  border-top 1px solid #1F273C
  &:first-child
    border-top none
  span
    color #9EA8C7

.panel-entry h1
  background-color #D7616C

.panel-store
  li:first-child, li:last-child
    padding (padding/2)
  ul li a
    padding-left padding*1.5
  h1
    background-color #F4B35C

.panel-maps h1
  background-color #68C3F3

.panel-instance h1
  background-color #47A4A9

.panel-context h1
  background-color #1F5393
